:root {
    /* primary */
    --sapphire: hsl(226.9, 97.8%, 17.5%);
    --crimson: hsl(345.1, 100%, 41.2%);
    --tangerine: hsl(28.8, 100%, 50.6%);
    --cabaret: hsl(350.2, 62.2%, 57.5%);

    /* neutral */
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    background: linear-gradient(375deg, var(--sapphire), var(--crimson));
    width: 100%;
    height: 100%;
    place-items: center;
}

p {
    color: var(--white);
}

::selection {
    background: var(--sapphire);
    color: var(--white);
}

.wrapper {
    position: relative;
    width: 20rem;
    height: 25rem;
    perspective: 62.5rem;
    transform-style: preserve-3d;
}

.wrapper .card {
    background: var(--tangerine);
    position: absolute;
    padding: 0.312rem;
    width: 100%;
    height: 100%;
    border-radius: 0.62rem;
    box-shadow: 0px 10px 15px hsl(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    width: 100%;
    height: 100%;
    border-radius: 0.62rem;
    object-fit: cover;
}

.wrapper .back-face {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    background: linear-gradient(375deg, var(--sapphire), var(--crimson));
    padding: 0.312rem;
    width: 9.37rem;
    height: 9.37rem;
    border-radius: 50%;
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    color: var(--white);
    font-size: 1.87rem;
    font-weight: 500;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    background: linear-gradient(375deg, var(--sapphire), var(--crimson));
    color: var(--cabaret);
    text-align: center;
    line-height: 2.37rem;
    margin: 0 0.312rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    background: linear-gradient(375deg, transparent, transparent);
    color: var(--crimson);
    border-color: var(--sapphire);
}